@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <ToastHost />
    <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <RouteAccessDeniedReporter RouteData="@routeData" />
                        <p class="p-3 text-red-600" role="alert">You are not allowed to view this page.</p>
                    }
                </NotAuthorized>
        
                <Authorizing>
                    <p class="p-3 text-gray-500">Checking sign-in…</p>               
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
